# Python
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Variables d'environnement
.env

# React
node_modules/
dist/
build/

# VS Code
.vscode/

# Logs

*.log
*.mp4
!web/frontend/src/forms/videos/*.mp4
*.avi
*.mov
.venv/
node_modules/